
.container {  
  display: flex;  
  background-color:rgb(55, 51, 51);
  justify-content: center;
  
}

.container > div {  
  flex: 1;  
  
}


.box1
{
  font-size: x-large;
  display:flex;
  justify-content:center;
  align-items: center;

}
.box2
{
  display: flex;
  align-items: center;
  justify-content: center;
} 
.lastbox
{
  background-color: blue;
  font-size: x-large ;
  color: aqua;
  text-align: center;
}